body {
    font-family: "Source Sans 3", sans-serif;
    font-optical-sizing: auto;
    background-color: white;
    color: black;
    padding: 0; margin: 0;
    font-size: 22px;
    line-height: 150%;
    background: #FFFEF1;
    /* background: linear-gradient(0deg, rgb(124, 56, 25) 0%, rgba(235,168,126,1) 100%) repeat fixed center / cover;      */
}

h1, h2 { margin: 0; }

a  {   color: #401410;}
a:hover {   color: #BF4136;}
a:active {   color: #732817; }

.bg {
    background: rgba(255, 255, 255, 0.6);
    border: 2px solid rgba(182, 135, 113, 0.3);    
    border-radius: 4px;
    max-width: 1100px;
    margin: 0 auto;
    padding: 30px;
}

#language a {
    color: rgb(243, 187, 152);
    text-decoration: none;
}
#language a:hover {
    color: rgb(255, 149, 78);
}
#language a:active {
    color: rgb(211, 200, 198)
}

#language > div {
    background: #fff6df;
    border-bottom-left-radius: 4px;
}


.lang_fix{
    margin-top: -10px;    
}
#header {
    margin-top: 15px;
    padding: 25px 0;
    text-align: center;
}


/* */

#about {
    margin-top: 22px;
    margin-bottom: 28px;
}

.maintext{
    font-size: 28px;
    font-weight: 500;
    line-height: 36px;
    margin: 25px 25px;
}
.maintext_comment p {
    padding: 6px 0;
    line-height: 26px;
    margin: 0;
    margin-right: 20px;
}
.maintext_narrow {
    margin-right: 35px;
}

.column_photo_tall img { border-radius: 4px; }
